{% set powerdns = pillar.get('powerdns', {}) -%}
{% set config = powerdns.get('config', {}) -%}
{% set local_address = config.get('local-address', {}) -%}

allow-recursion=127.0.0.1

# allow-recursion-override=
# cache-ttl=20
# chroot=/var/spool/powerdns

config-dir=/etc/powerdns

# config-name=
# control-console=no

daemon=yes

# default-soa-name=a.misconfigured.powerdns.server
{% if 'dns-supermaster' in grains['role'] %}
disable-axfr=no
{% endif %}

# disable-tcp=no
# distributor-threads=3
# fancy-records=no

guardian=yes

launch=gmysql

lazy-recursion=yes

# load-modules=

local-address={{ local_address }}

# local-ipv6=

local-port=53

# log-dns-details=
# log-failed-updates=
# logfile=/var/log/pdns.log
# logging-facility=
# loglevel=4

{% if 'dns-supermaster' in grains['role'] %}
master=yes
{% endif %}

# max-queue-length=5000
# max-tcp-connections=10

module-dir=/usr/lib/powerdns

# negquery-cache-ttl=60
# out-of-zone-additional-processing=no
# query-cache-ttl=20
# query-logging=no
# queue-limit=1500
# query-local-address=
# receiver-threads=1
# recursive-cache-ttl=10
# recursor=

setgid=pdns
setuid=pdns

# skip-cname=no
# slave=no
# slave-cycle-interval=60
# smtpredirector=a.misconfigured.powerdns.smtp.server
# soa-minimum-ttl=3600
# soa-refresh-default=10800
# soa-retry-default=3600
# soa-expire-default=604800
# soa-serial-offset=0

socket-dir=/var/run

# strict-rfc-axfrs=no
# urlredirector=127.0.0.1
# use-logfile=yes
# webserver=no
# webserver-address=127.0.0.1
# webserver-password=
# webserver-port=8081
# webserver-print-arguments=no
# wildcard-url=no
# wildcards=

version-string=powerdns

include=/etc/powerdns/pdns.d
